body{margin: 0;
    font-family: "Source Sans Pro",Tahoma,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    font-family: adelle;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.7em;
    text-decoration: none;
}
.index{
    background: url("images/fondo.adrianalegria.jpg") no-repeat center center fixed;
    background-size: cover;
}
.branch{
    background: url("images/fondo.adrianalegriaThinking1.jpg") no-repeat center center fixed;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    }
.menu ul{
    list-style-type: none;
}
.menu ul li{
    margin: .75em .5em .75em 0;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    list-style-type: none;
}

.menu ul li a, .menu ul li a:visited {
    color: #fff;
}
.menu ul li.active-link {
    color: #e43a3a;
}
.menu ul li a:hover {
    color: #a2834e;
    text-decoration: none;
}

.social ul{
    list-style-type: none;
    text-align: right;
    padding: 0px;
}

.social ul li{
display:inline;
}

.icon-inside{
    color: #000; 
}

.social ul li a:hover {
    text-decoration: none;
}

.content{
    margin-top:150px;
    color: #fff;
}